{% extends 'default.html' %}
{% load custom_tags%}

{%block title%}{{title}}{% endblock %}





{% block content %}
{% if request.path == '/news/search'%}
<form action="" method="get">
    {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
    {{ filterset.form.as_p }}
    {# Добавим кнопку отправки данных формы #}
    <input type="submit" value="Найти" />
</form>
<a href="{% url 'searchnews' %}">Сбросить</a>
{% elif '/news' in request.path %}
<p><a href="{% url 'searchnews' %}">Включить поиск</a></P>
{% endif %}
<a href="{{request.path}}/create">Создать</a>
{% for p in posts %}
<a href="{{ p.get_absolute_url }}"><h1>{{p.header}}</h1></a>
<p>{{p.time_create|date:"d.m.Y H:i"}}</p>
{{p.text|truncatechars:20}}
{% endfor %}
<p></p>
{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
       {% if page_obj.previous_page_number != 2 %}... {% endif %}
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}

       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           {% if page_obj.next_page_number|add:1 != page_obj.paginator.num_pages  %}...{% endif%}
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
           {%endif%}
    {% endif %}
{% endblock content %}