{% extends 'default.html' %}
{% load i18n %}

{% block content %}
    <form  action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов  -->
        <input type="" name="next" value="{{ request.get_full_path|slice:'3:' }}">
        <select name="language" id="">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>
    {{ LANGUAGE_CODE }}
{% endblock content %}